name: Build and deploy Node.js app to Azure Web App - todonode

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    defaults:
      run:
        working-directory: todo_node_app   # folder that contains package.json

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          cache: 'npm'
          cache-dependency-path: todo_node_app/package-lock.json

      - name: npm install, build, and test
        run: |
          npm ci
          npm run build --if-present
          npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: todo_node_app   # upload only the app folder

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: todo_node_app   # keep it in the same folder name

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_825EDB5B9AB74275BDC39EDD250B8D74 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_6B5C6EE85D5C4FCDA8B7A9E831ADDA60 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_60E446C7B3744546BDB3181B5A2D8E67 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'todonode'
          slot-name: 'Production'
          package: todo_node_app  # deploy the folder that contains package.json

